@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css"); /* font-family: "Pretendard Variable"; */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-family: "Pretendard Variable"; vertical-align: baseline; text-decoration: none; list-style: none; color: black; } 
* { box-sizing: border-box; } 

/* css 초기화 */
body { height: 8120px; overflow-x:hidden; background-color: black; } 
p { color: white; } 
header { width: 1920px; height: 80px; position:fixed; top: 12px; z-index: 5; } 
.MenuBar { position:fixed; right:100px; font-family: "Pretendard Variable"; width: 540px; height: 80px; display:flex; justify-content:flex-start; padding: 0 35px 0 35px; } 
.MenuBar ul { display:flex; align-items:center; } 
.Links { font-size :20px; font-weight :700; text-align :center; font-weight: 400; color :rgb(158, 158, 158); transition :1s } 
.OneLinks { margin-left :32px } 
.Links:not(.OneLinks) { margin-left :82px } 
.Links:hover { color:white; transition :1s } 
.Logo { width :80px; height :60px; left:150px; top:15px; position:fixed; } 
/* 헤더 */


main { width: 1920px; overflow: hidden; } 
section { width: 1920px; height: 1080px; position: relative; } 
.Main { position: relative; width: 1920px; background-repeat: no-repeat; background-size: cover; } 
.Main div { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-repeat: no-repeat; background-size: cover; transition: opacity 1s ease-in-out; } 
.Main div.top { opacity: 1; } 
.Main div.bottom { opacity: 0; } 
#toTop { position: fixed; bottom: 145px; right: 150px; cursor: pointer; border-style: none; background-color: rgba(0, 0, 0, 0); z-index: 6; } 
#banner { position: absolute; width: 660px; height: 535px; left: 630px; top: 180px; } 
#SubText1 { height: 90px; font-size: 50px; text-align: center; position: absolute; left: 515px; top:195px; } 
#bold { font-weight: 700; color: white; } 

#Scroll-Img { position: absolute; width: 120px; height: 500px; transition: transform 0.5s ease-in-out; left: 900px; top: 835px; z-index: 4; } 
#Scroll-Img:hover { transform: translateY(-10px); } 
/* paln 섹션 */

.plan { height: 1080px; position: relative; margin-top: 100px; } 
.plan2 { position: relative; margin-top: 100px; height: 2100px; } 
#Img-box1 { position: absolute; top: 345px; left: 300px; } 
#Textbox { position: absolute; width: 470px; height: 271px; left: 1020px; top: 435px; } 
#MainText3 { width: 475px; height: 50px; font-size: 40px; font-weight: 700; } 
#SubText3 { font-size:24px; font-weight: 400; color: rgb(172, 172, 172); } position
#SubText3-1 { width: 470px; height: 130px; font-size:20px; font-weight: 300; margin-top: 30px; color: rgb(232, 232, 232); } 
#semilbold { width: 470px; height: 60px; font-size:24px; font-weight: 600;; color: white; margin-top: 60px; } 
/* 텍스트 구간 */
.card { height: 1080px; position: relative; } 

.Wrap { left: 150px;top: 200px; width: 1805px; height: 530px; position: absolute; transition-duration: 0.5s linear; } 

.Wrap img { width: 390px; height: 535px; } 

.item { width: 400px; height: 545px; color: white; transition-property: transform, left; transition-duration: 1s; display: inline-block; } 
.item img{width: 420px; height: 565px;}

#textBox { width: 925px; height: 250px; position: absolute; left: 497.5px; top: 415px; text-align: center; opacity: 0; } 

#Card-mainText { font-size: 64px; font-weight: 700; } 
#Card-subText { margin-top: 50px; font-size: 24px; } 

.bold2 { font-size: 50px; font-weight: 700; color: white; margin-bottom: 45px; } 
#planImg1 { width: 580px; height: 800px; position: absolute; top: 190px; left: 245px; overflow: hidden; border-radius: 20px; } 
#planImg2 { width: 580px; height: 800px; position: absolute; top: 1180px; right: 245px; overflow: hidden; border-radius: 20px; } 
#planText1 { font-size: 30px; font-weight: 400; width: 830px; height: 190px; text-align: left; position: absolute; top: 790px; left: 950px; color: rgb(222,222 , 222); } 
#planText2 { font-size: 30px; font-weight: 400; width: 830px; height: 190px; text-align: right; position: absolute; position: absolute; top: 1800px; left: 120px; color: rgb(222,222 , 222); } 

.story { height: 1700px; position: relative; } 
.bold2-1 { font-size: 25px; font-weight: 700; color: white; margin-bottom: 45px; position: absolute; left: 400px; top: 75px; } 
#planImg3 { width: 1680px; height: 230px; position: absolute; left: 120px; top: 135px; } 
#planImg4 { width: 1680px; height: 230px; position: absolute; right: 120px; top: 515px; } 
#planImg5 { width: 1680px; height: 230px; position: absolute; left: 120px; top: 895px; } 
#planImg6 { width: 1680px; height: 230px; position: absolute; right: 120px; top: 1275px; } 

.story img { width: 400px; height: 230px; background-color: white; display: inline-block; margin:0 7px 0 7px; } 
#storytext1 { margin-left: 20px; font-size: 30px; font-weight: 300; display: inline-block; position: absolute; bottom: 0; } 
#storytext2 { margin-left: 90px; font-size: 30px; font-weight: 300; display: inline-block; text-align: right; position: absolute; bottom: 0; } 
.storycon { display: flex; justify-content: flex-end; } 



.bold3 { font-size: 25px; font-weight: 700; color: white; margin-bottom: 45px; position: absolute; left: 400px; top: 260px; } 
.semibold { font-size: 30px; width: 535px; height: 25px; font-weight: 600; transition: all 0.5s ease-out; position: absolute; left: 285px; top: 320px; } 
#planText4 { width: 535px; height: 310px; line-height: 25px; margin-top: 30px; color: rgb(171, 171, 171); position: absolute; left: 285px; top: 440px; } 

.Character { width: 1920px; height: 3440px; position: relative; } 
.CharacterText { width: 980px; height: 1080px; display: flex; flex-direction: column; justify-content: center; align-items:center; z-index: 6; } 

#character { width:980px; height: 1080px; position: absolute; right: 0; top: 50px; } 
#character video { width: 830px; height: 650px; margin: 215px 0 215px 0; } 
#hackdo { color: rgb(118,118 ,118); } 
#south { color: rgb(118,118 ,118); } 
#north { color: rgb(118,118 ,118); } 


.object { width: 1920px; height: 1500px; position: relative; } 
#object-p { font-size: 25px; font-weight: 700; position: absolute; left: 400px; top: 260px; } 
#subobject-p { width: 662px; height: 27px; position: absolute; color: white; font-size: 30px; font-weight: 600; left: 230px; top: 320px; } 
#object-img { width: 1920px; height: 720px; position: absolute; top: 485px; overflow: hidden; } 
#object-img img { padding: 5.5px; } 
#object-img-first { display: flex; justify-content: center; align-items: flex-start; } 
#object-img-first img:nth-child(1)
 {
 padding: 5px 7.5px 5px 0; } 
#object-img-first img:nth-child(4)
 {
 padding: 5px 0 5px 5px; } 
#object-img-second { display: flex; justify-content: center; align-items: flex-end; } 
#object-img-third { width: 545px; height: 345px; display:inline-block; } 
#object-img-third img:nth-child(1)
 {
 padding: 0 2px 2px 0; } 
#object-img-third img:nth-child(2)
 {
padding: 0 0 2px 6px; } 

#object-img-third img:nth-child(3)
 {
padding: 2px 0 0 0; } 

.img-container { width: 200%; /* 이미지 집합의 너비를 두 배로 설정하여 복제된 이미지 집합이 한 줄에 나타나도록 합니다. */
 display: flex; /* 이미지 집합들이 가로로 나열되도록 합니다. */
 animation: slide 20s linear infinite; /* 애니메이션 적용 */ } 
.img-set { width: 100%; /* 각 이미지 집합의 너비를 50%로 설정하여 한 이미지 집합이 화면 너비를 차지하도록 합니다. */
 /* 여기에 이미지에 관한 스타일을 적용하세요. */ } 

/* 애니메이션 키 프레임 설정 */
@keyframes slide { 
 0% { transform: translateX(0); } 
100% { transform: translateX(-50%); } 
 }

.map { height: 780px; position: relative; } 
#map-p { font-size: 25px; font-weight: 700; position: absolute; left: 400px; top: 130px; } 
#submap-p { width: 683px; height: 27px; position: absolute; color: rgb(118,118 ,118); font-size: 30px; font-weight: 600; left: 230px; top: 190px; } 

.map-img { width: 1920px; height: 780px; display:flex; align-items: flex-end; } 
.map-img img { width: 640px; height: 450px; } 

.function { width: 1920px; height: 1080px; position: relative; } 
.function-p { font-size: 30px; font-weight: 700; position: absolute; left: 230px; top:190px; color: white; } 

.function-h3 { font-size: 25px; font-weight: 700; position: absolute; left: 360px; top: 130px; color: white; } 
.subfunction-p { font-size: 24px; font-weight: 600; color: rgb(118,118 ,118); position: absolute; left: 360px; margin-top: 330px; } 

.bts { width: 240px; height: 410px; position: absolute; left: 275px; top: 405px; } 
.bt { width: 240px; height: 90px; font-size: 40px; font-weight: 700; color: white; text-align: center; display: flex; justify-content: center; align-items: center; } 
#bt1,#bt2,#bt3,#bt4 { border-bottom: solid white 3px; } 
#bt5,#bt2,#bt3,#bt4 { color:rgba(255, 255, 255, 0.234); } 
.function-img { width: 1680px; height: 620px; position: absolute; left: 685px; justify-content: flex-start; top:300px; } 
#function-img { width: 1110px; height: 620px; } 
#function-img, #function-p, #subfunction-p { transition: all 0.3s ease-in-out; } 
.play { height: 1500px; position: relative; } 
#playbt { position: absolute; left: 786.5px; top: 630px; } 
#play-p { width: 80px; font-size: 25px; font-weight: 700; padding-left: 400px; } 
#play-subp { width: 880px; font-size: 40px; font-weight: 700; color: white; padding: 60px 0 0 260px; } 
#playvideo { width: 1920px; height: 1080px; margin-top: 120px; } 

.Team { height: 1600px; position: relative; } 
#team-p { font-size: 25px; font-weight: 700; position: absolute; left: 360px; top: 130px; color: white; } 

#Profile { width: 300px; margin: 0 30px 0 30px; } 
#Team-p { color: white; font-size: 25px; font-weight: 700; margin-top: 14px; } 
#skil { color: rgb(187, 187, 187); font-size: 18px; } 
#mail { color: white; margin-top: 4px; } 


#teamtop { position: absolute; left: 460px; top: 285px; width: 1000px; display: flex; justify-content: center; } 
#teambottom { position: absolute; left: 300px; top: 800px; width: 1335px; display: flex; justify-content: center; } 
footer { width: 1920px;height: 200px; color: rgb(141, 141, 141);font-size: 12px;  border-top: solid white 1px; position: relative;} 
.footer-logo{width: 400px; margin: 50px 50px 0 50px; }
#footer-img{width: 150px; margin-left: 80px;}

#copy {width: 200px;  color: rgb(141, 141, 141); margin-left: 65px;} 


.footer-nav{width: 540px; height: 20px;  color: white; position: absolute; right: 50px; top: 120px;}
.footer-nav ul{display: flex;}
.footer-links { font-size :20px; font-weight :700; text-align :center; font-weight: 400; color :rgb(158, 158, 158); transition :1s;} 
.footer-links:not(.OneLinks) { margin-left :82px } 
.footer-links:hover { color:white; transition :1s } 


